<div class="wrapper wrapper-content animated fadeInRight" ng-controller="GetApiCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h3>
                    this is a demo for Authentication and this page will send a get post.
                </h3>
                <p>
                    (the API is open to anyone)
                </p>
                <p>
                    <a ui-sref="home.post">turn to post page</a>
                </p>
            </div>
        </div>
    </div>
</div>