<div class="text-center" style="margin-top:15%">
    <div ng-controller="LoginCtrl">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                <form class="m-t">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email or Mobile"
                               required="" ng-model="login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password"
                               required="" ng-model="password">
                    </div>
                    <div class="" style="text-align:left;margin-bottom:20px;">
                        <input type="checkbox" checked="checked" ng-model="remember"/>
                        <span class="">Remember Me</span>
                    </div>
                    <div class="form-group">
                        <button ng-click="doLogin()"
                                class="form-control btn btn-info block full-width m-b">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>