<div class="wrapper wrapper-content animated fadeInRight" ng-controller="PostApiCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h3>
                    this is a post page which will send a post http.(the API is open to the user who has login)
                </h3>
                <p>
                    when you click the button,you will send a post http,if you are not login,the page will turn to login page.
                </p>
                <button ng-click="postRequest()">send a post http request</button>
            </div>
        </div>
    </div>
</div>